.pay .uni-date-x--border {
	border: none !important;
}
.pay .uni-datetime-picker--btn {
	background-image: $linear-color;
}
.pay .uni-calendar-item--checked {
	background-image: $linear-color;
}